@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauveDark.css';
@import '@radix-ui/colors/sand.css';
@import '@radix-ui/colors/sandDark.css';
@import '@radix-ui/colors/gold.css';
@import '@radix-ui/colors/goldDark.css';
@import '@radix-ui/colors/yellow.css';
@import '@radix-ui/colors/yellowDark.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blueDark.css';
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/purpleDark.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/indigoDark.css';

:root {
	--grid-unit: 0.5rem; /* 8px */

	/* Space, 8x8 grid */
	--space-none: 0;
	--space-2xs: calc(var(--grid-unit) / 2); /* 4px */
	--space-xs: calc(var(--grid-unit)); /* 8px */
	--space-sm: calc(var(--grid-unit) * 2); /* 16px */
	--space-md: calc(var(--grid-unit) * 3); /* 24px */
	--space-lg: calc(var(--grid-unit) * 5); /* 40px */
	--space-xl: calc(var(--grid-unit) * 8); /* 64px */
	--space-2xl: calc(var(--grid-unit) * 12); /* 96px */
	--space-3xl: calc(var(--grid-unit) * 24); /* 192px */

	--size-full: 100%;
	--size-w-screen: 100vw;
	--size-h-screen: 100vh;

	/* Tracking */
	--tracking-base-unit: 0.0125em;
	--tracking--4: calc(var(--tracking-base-unit) * -6); /* -0.075em */
	--tracking--3: calc(var(--tracking-base-unit) * -4); /* -0.05em */
	--tracking--2: calc(var(--tracking-base-unit) * -2); /* -0.025em */
	--tracking--1: calc(var(--tracking-base-unit) * -1); /* -0.0125em */
	--tracking-0: 0;
	--tracking-1: calc(var(--tracking-base-unit) * 1); /* 0.0125em */
	--tracking-2: calc(var(--tracking-base-unit) * 2); /* 0.025em */
	--tracking-3: calc(var(--tracking-base-unit) * 4); /* 0.05em */
	--tracking-4: calc(var(--tracking-base-unit) * 6); /* 0.075em */

	/* Leading */
	--line-height-base-unit: 1;

	/* Font sizes */
	--font-base-unit: 1rem;
	--font-scale: 1.414;

	--font-size-1: calc(var(--font-base-unit) / var(--font-scale)); /* 12.80px */
	--font-size-2: var(--font-base-unit); /* 16px */
	--font-size-3: calc(var(--font-size-2) * var(--font-scale)); /* 20px */
	--font-size-4: calc(var(--font-size-3) * var(--font-scale)); /* 25px */
	--font-size-5: calc(var(--font-size-4) * var(--font-scale)); /* 31.25px */
	--font-size-6: calc(var(--font-size-5) * var(--font-scale)); /* 39.06px */
	--font-size-7: calc(var(--font-size-6) * var(--font-scale)); /* 48.83 px*/
	--font-size-8: calc(var(--font-size-7) * var(--font-scale)); /* 48.83 px*/
	--font-size-9: calc(var(--font-size-8) * var(--font-scale)); /* 61.04 px*/
}
