:root {
	--cdb-core-spacing-0: 0; /* 0px */
	--cdb-core-spacing-1: 0.125rem; /* 2px */
	--cdb-core-spacing-2: 0.25rem; /* 4px */
	--cdb-core-spacing-3: 0.5rem; /* 8px */
	--cdb-core-spacing-4: 1rem; /* 16px */
	--cdb-core-spacing-5: 2rem; /* 32px */
	--cdb-core-spacing-6: 4rem; /* 64px */
	--cdb-core-spacing-7: 8rem; /* 128px */
	--cdb-core-spacing-8: 16rem; /* 256px */
	--cdb-core-spacing-9: 32rem; /* 512px */
	--cdb-core-spacing-10: 64rem; /* 1024px */

	--cdb-core-tracking-1: -0.075em;
	--cdb-core-tracking-2: -0.05em;
	--cdb-core-tracking-3: -0.025em;
	--cdb-core-tracking-4: -0.0125em;
	--cdb-core-tracking-5: 0;
	--cdb-core-tracking-6: 0.125em;
	--cdb-core-tracking-7: 0.25em;
	--cdb-core-tracking-8: 0.5em;
	--cdb-core-tracking-9: 1em;

	--cdb-core-font-size-1: 0.8rem; /* 12.80px */
	--cdb-core-font-size-2: 1rem; /* 16px */
	--cdb-core-font-size-3: 1.25rem; /* 20px */
	--cdb-core-font-size-4: 1.563rem; /* 25px */
	--cdb-core-font-size-5: 1.953rem; /* 31.25px */
	--cdb-core-font-size-6: 2.441rem; /* 39.06px */
	--cdb-core-font-size-7: 3.052rem; /* 48.83 px*/
	--cdb-core-font-size-7: 3.052rem; /* 48.83 px*/
	--cdb-core-font-size-8: 3.815rem; /* 61.04 px*/

	--cdb-semantic-color-grayscale-800: hsl(0 5% 98%);
}
