@import './_core.css';

:root {
	--color-black: #000;
	--color-background: var(--mauve1);
	--color-subtle-background: var(--mauve2);
	--color-surface: var(--mauve3);
	--color-surface-hover: var(--mauve4);
	--color-surface-active: var(--mauve5);
	--color-sperator: var(--mauve6);
	--color-border: var(--mauve7);
	--color-border-hover: var(--mauve8);
	--color-solid: var(--mauve9);
	--color-solid-hover: var(--mauve10);
	--color-text-subtle: var(--mauve11);
	--color-text: var(--mauve12);

	--text-heading: var(--font-size-7);
	--text-heading-sm: var(--font-size-4);
	--text-body: var(--font-size-2);
	--text-body-sm: var(--font-size-1);

	--text-normal: 400;
	--text-bold: 600;
	--text-black: 900;

	--radii-none: 0;
	--radii-subtle: 3px;
	--radii-round: 50%;
	--radii-pill: 999px;

	--leading-tight: calc(var(--line-height-base-unit) * 0.72);
	--leading-none: var(--line-height-base-unit);
	--leading-normal: calc(var(--line-height-base-unit) * 1.25);
	--leading-loose: calc(var(--line-height-base-unit) * 1.5);

	/* Utils */
	--brand-gradient: linear-gradient(
		to bottom right,
		var(--blue9) 0%,
		var(--purple9) 45%,
		var(--purple9) 55%,
		var(--blue9) 100%
	);
}

.palette-yellow {
	--color-background: var(--yellow1);
	--color-subtle-background: var(--yellow2);
	--color-surface: var(--yellow3);
	--color-surface-hover: var(--yellow4);
	--color-surface-active: var(--yellow5);
	--color-sperator: var(--yellow6);
	--color-border: var(--yellow7);
	--color-border-hover: var(--yellow8);
	--color-solid: var(--yellow9);
	--color-solid-hover: var(--yellow10);
	--color-text-subtle: var(--yellow11);
	--color-text: var(--yellow12);
}

.palette-blue {
	--color-background: var(--blue1);
	--color-subtle-background: var(--blue2);
	--color-surface: var(--blue3);
	--color-surface-hover: var(--blue4);
	--color-surface-active: var(--blue5);
	--color-sperator: var(--blue6);
	--color-border: var(--blue7);
	--color-border-hover: var(--blue8);
	--color-solid: var(--blue9);
	--color-solid-hover: var(--blue10);
	--color-text-subtle: var(--blue11);
	--color-text: var(--blue12);
}

.palette-purple {
	--color-background: var(--purple1);
	--color-subtle-background: var(--purple2);
	--color-surface: var(--purple3);
	--color-surface-hover: var(--purple4);
	--color-surface-active: var(--purple5);
	--color-sperator: var(--purple6);
	--color-border: var(--purple7);
	--color-border-hover: var(--purple8);
	--color-solid: var(--purple9);
	--color-solid-hover: var(--purple10);
	--color-text-subtle: var(--purple11);
	--color-text: var(--purple12);
}

.palette-indigo {
	--color-background: var(--indigo1);
	--color-subtle-background: var(--indigo2);
	--color-surface: var(--indigo3);
	--color-surface-hover: var(--indigo4);
	--color-surface-active: var(--indigo5);
	--color-sperator: var(--indigo6);
	--color-border: var(--indigo7);
	--color-border-hover: var(--indigo8);
	--color-solid: var(--indigo9);
	--color-solid-hover: var(--indigo10);
	--color-text-subtle: var(--indigo11);
	--color-text: var(--indigo12);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	display: grid;
	height: 100%;
	background-color: var(--color-background);
	color: var(--color-text);
}

::-webkit-scrollbar {
	width: var(--space-2xs);
	height: var(--space-2xs);
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
	background-color: hsl(var(--color-surface));
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

[data-app] {
	display: contents;
}

img {
	max-width: 100%;
}

[lang='ja'] {
	font-family: 'Montserrat', 'Mplus 1p', 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック',
		'游ゴシック体', YuGothic, 'Yu Gothic', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
}

a {
	color: currentColor;
}
